<!-- manual-rating Section -->
{% liquid
  assign title = section.settings.title
%}

<section id="manual-rating" class="lg:mb-[167px] mb-[53px]">
  <div class="text-center mb-[56px] mt-[80px]">
    <h2 class="font-bold font-open sm:text-5xl text-3xl">{{ title }}</h2>
  </div>
  <div class="lg:px-16 w-full">
    <div class="swiper max-h-[381px] ratings swiper-initialized swiper-horizontal swiper-backface-hidden">
      <div class="swiper-wrapper mb-[56px] max-h-[300px]">
        {% for block in section.blocks %}
          {% liquid
            assign desc2 = block.settings.desc2
            assign rating = block.settings.rating
            assign desc = block.settings.desc
            assign name = block.settings.name
            assign pic = block.settings.pic
            assign check = block.settings.check
            assign order = block.settings.order
          %}

          <div class="swiper-slide h-[204px] px-10 pb-8 md:border-r">
            <p class="font-bold text-[20px] text-black font-montserrat">{{ desc2 }}</p>
            <picture>
              <img src="{{ rating | img_url: 'master' }}" alt="{{ rating.alt }}">
            </picture>
            <div class="font-montserrat font-medium overflow-hidden text-base text-primaryTxt h-[54px] mt-[8px] mb-[24px]">
              {{ desc }}
            </div>
            <div class="flex gap-8">
              <div>
                <picture>
                  <img src="{{ pic | img_url:'master' }}" alt="{{ pic.alt }}">
                </picture>
              </div>
              <div class="flex flex-col justify-between">
                <div class="font-montserrat font-bold text-xl text-primaryTxt">{{ name }}</div>
                <div class="flex gap-[8px]">
                  <div>
                    <picture>
                      <img src="{{ check | img_url: 'master' }}" alt="{{ check.alt }}">
                    </picture>
                  </div>
                  <div class="font-montserrat italic text-[#5a5a5a] text-base">{{ order }}</div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next hidden md:block"></div>
      <div class="swiper-button-prev hidden md:block"></div>
      <div class="swiper-pagination static"></div>
    </div>
  </div>
</section>

<script>
  var swiper1 = new Swiper('.ratings', {
    calculateHeight: true,
    autoHeight: false,
    slidesPerView: 1,
    spaceBetween: 10,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 0,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 0,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
    },
  });
</script>
{% stylesheet %}
  .ratings .swiper-button-next,
  .ratings .swiper-button-prev {
    color: #272727;
  }
  .ratings .swiper-pagination-bullet-active {
    width: 40px;
    height: 2px;
    background: #272727;
  }
  .ratings .swiper-pagination-bullet {
    width: 40px;
    height: 2px;
  }
{% endstylesheet %}
{% schema %}
{
  "name": "Manual Rating",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Reviews",
      "settings": [
        {
          "type": "image_picker",
          "id": "rating",
          "label": "Star Rating"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Review"
        },
        {
          "type": "text",
          "id": "desc2",
          "label": "Review2"
        },
        {
          "type": "image_picker",
          "id": "pic",
          "label": "Reviewer Picture"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name Of The Reviewer"
        },
        {
          "type": "image_picker",
          "id": "check",
          "label": "Verified Reviewer"
        },
        {
          "type": "text",
          "id": "order",
          "label": "Verified Order"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Static Reviews"
    }
  ]
}
{% endschema %}
